# Django
*.log
*.pot
*.pyc
__pycache__/
/__pycache__/
db.sqlite3
media/
staticfiles/

# Django environment variables
.env

# MySQL
*.sql
*.sql.gz

# macOS
.DS_Store

# Virtual environments
venv/
env/
ENV/
.venv/
./intellibin-venv/

